AI_GATEWAY_API_KEY=
OLLAMA_API_KEY=
ANTHROPIC_API_KEY=

META_VERIFY_TOKEN=

META_APP_NAME=
META_APP_ID=
META_APP_SECRET=
META_PAGE_ACCESS_TOKEN=
META_PAGE_ID=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_SENDER_PHONE_NUMBER_ID=

INSTAGRAM_APP_SECRET=
INSTAGRAM_USER_ID=
INSTAGRAM_ACCESS_TOKEN=

MONGODB_URI=